## Python-Decomposition-Method

In [1]:
import numpy as np
import statsmodels.api as sm
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.stats.oaxaca import OaxacaBlinder

In [2]:
data = pd.read_csv("https://github.com/fobembe/Dataset/raw/main/paygap.csv")
data.head()

,jobTitle,gender,age,perfEval,edu,dept,seniority,basePay,bonus
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938
1,Software Engineer,Male,21,5,College,Management,5,108476,11128
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319

In [7]:
data['sex'] = data['gender'].map({'Female':0,'Male':1})

In [8]:
data.head()

,jobTitle,gender,age,perfEval,edu,dept,seniority,basePay,bonus,sex
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938,0
1,Software Engineer,Male,21,5,College,Management,5,108476,11128,1
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268,0
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154,1
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319,1

In [15]:
features = ['sex','age','perfEval','seniority']
model = OaxacaBlinder(endog=data['basePay'],exog=data[features],bifurcate='sex')

In [21]:
print(model.two_fold().summary())

Oaxaca-Blinder Two-fold Effects
Unexplained Effect: 9195.27402
Explained Effect: -1673.68565
Gap: 8514.72674
None

In [22]:
print(model.three_fold().summary())

Oaxaca-Blinder Three-fold Effects
Endowment Effect: -1636.60071
Coefficient Effect: 9189.10061
Interaction Effect: -30.91152
Gap: 8514.72674
None